BreakBeforeBraces: Custom
BraceWrapping:
  AfterExternBlock: true
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  AfterStruct: true
  AfterClass: true
  AfterControlStatement: true
  BeforeLambdaBody: true
IndentExternBlock: NoIndent
AlignAfterOpenBracket: Align
IndentWidth: 4
AccessModifierOffset: -4
SortIncludes: false
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: InlineOnly