menu "HMI Board Config"
    choice BSP_BOARD
        default BSP_BOARD_ESP32_S3_BOX_LITE
        prompt "Select HMI Board"
        config BSP_BOARD_ESP32_S3_BOX_LITE
            bool "ESP32-S3-BOX-Lite"
        config BSP_BOARD_ESP32_S3_DEVKIT_C
            bool "ESP32-S3-DevKit C"
    endchoice
endmenu