menu "HMI Board Config"
    choice BSP_BOARD
        default BSP_NOSSAT_ONE
        prompt "Select HMI Board"
        config BSP_NOSSAT_BOX_LITE
            bool "Nosyna Satellite Box Lite"
        config BSP_NOSSAT_ONE
            bool "Nosyna Satellite One"
    endchoice
endmenu