menu "HMI Board Config"
    choice NOSSAT_BOARD
        default NOSSAT_ONE_BOARD
        prompt "Select HMI Board"
        config NOSSAT_BOX_LITE_BOARD
            bool "Nosyna Satellite Box Lite"
        config NOSSAT_ONE_BOARD
            bool "Nosyna Satellite One"
    endchoice

    config NOSSAT_SPEECH_RECOGNITION
        bool "Enable Speech Recognition"
        default "y"

    config NOSSAT_LVGL_GUI
        bool "Enable LVGL GUI"
        default "y"
endmenu